.script_top {
    padding-block: 40px;
}

.font_top {
    padding-top: 40px;
    @media (min-width:1024px) {
        padding-top: 0px;
    }
}

.deep_bg {
    background-color: #10253F;
    background-position: left;
    background-repeat: no-repeat;
    justify-content: flex-end;

    @media (min-width:768px) {
        background: linear-gradient(to right, #10253F, 80%, #fff);
    }
}

.space_between_flex,
.call_flex {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;

    @media (min-width:768px) {
        flex-direction: row;
        align-items: stretch;
    }
}

.why_choice_flex {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    @media (min-width:768px) {
        flex-direction: row;
        align-items: stretch;
    }
}

.call_article span,
.faq_price_text span,
.why_choice_text span,
.faq_advantage_text span {
    padding-top: 20px;
}

.faq_price_img,
.faq_advantage_img {
    position: relative;
}

.faq_price_img img,
.faq_advantage_img img {
    position: relative;
    width: 100%;
    vertical-align: middle;
    bottom: 0px;

    @media (min-width:768px) {
        position: relative;
        bottom: -40px;
    }

    @media (min-width:1024px) {
        position: absolute;
        bottom: -40px;
    }
}

.call_img iframe {
    align-self: flex-start;
    height: 100%;
    width: 100%;
    vertical-align: middle;
}

.why_choice_img img {
    width: 100%;
    vertical-align: middle;
}

.why_choice_img {
    position: relative;
}

.why_choice_img_flex {
    position: absolute;
    top: 45%;
    left: 27%;

    @media (min-width:768px) {
        left: 30%;
    }
}

.why_choice_img_flex span:nth-child(1) {
    font-size: 1rem;
    @media (min-width:768px) {
        font-size: 2.25rem;
    }

    @media (min-width:1024px) {
        font-size: 1.5rem;
    }
}

.why_choice_img_flex span:nth-child(2) {
    color: #f00;
    font-size: 1.5rem;
    @media (min-width:768px) {
        font-size: 3rem;
    }

    @media (min-width:1024px) {
        font-size: 2rem;
    }
}

.call_btn .call_btn_item {
    background-color: #10253F;
    border: transparent;
    margin-top: 20px;
}

.call_btn_item+.call_btn_item {
    margin-left: 20px;
}

.call_btn .call_btn_item:hover {
    background-color: #FF829F;
    transition: 1s;
}

.call_article {
    margin-bottom: 20px;

    @media (min-width:768px) {
        margin-bottom: 0px;
    }
}