.call_flex,
.about_flex {
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
}

.call_flex h3,
.about_flex h3 {
    display: none;
}

.call_flex .rwd_flex_title .title,
.about_flex .rwd_flex_title .title {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.about_flex div p span,
.call_flex div p span {
    padding-top: 10px;
}

.about_img {
    position: relative;
}

.about_img div {
    position: absolute;
    left: 15px;
    top: auto;
    bottom: auto;
}

.about_img img {
    width: 100%;
    vertical-align: middle;
}

.news_flex .title {
    margin-top: 30px;
    text-align: center;
}

.news_flex .news_item {
    padding: 5px;
    margin-top: 5px;
    min-height: 60px;
    border-radius: 6px;
    text-decoration: none;
    flex-wrap: nowrap;
    color: #000;
    overflow: hidden;
    white-space: nowrap;
}

.news_item h3,
.news_item p {
    padding: 0 1rem;
}

.news_item p {
    border-left: 1px solid #000;
}

.news_item:hover {
    background-color: #D9D9D9;
    transition: 1s;
}

.news_item_more_flex {
    justify-content: end;
}

.news_item_more_flex a {
    color: #FF829F;
    margin-top: 5px;
    margin-bottom: 1.25rem;
}

.call_btn button {
    border: 1px solid #fff;
}

.call_btn button+button {
    margin-left: 5px;
}

.call_img iframe {
    height: 100%;
    width: 100%;
    vertical-align: middle;
}

@media (min-width:768px) {
    
    .about_img div {
        left: 50px;
    }
}

@media (min-width:1024px) {
    
    .about_img div {
        left: 80px;
    }
}

@media (min-width:1200px) {

    .call_flex,
    .about_flex {
        padding-top: 60px;
        padding-bottom: 50px;
    }

    .call_flex .title,
    .about_flex .title {
        display: inline-block;
    }

    .rwd_flex_title {
        display: none;
    }

    .about_img div {
        left: 100px;
    }

    .about_flex div p span,
    .call_flex div p span {
        padding-top: 25px;
    }

    .call_flex div p span:nth-child(2) {
        margin-bottom: 30px;
    }

    .news_flex .title {
        margin-top: 60px;
        text-align: left;
    }

    .news_flex .news_item {
        padding: 10px;
        margin-top: 10px;
        min-height: 90px;
        border-radius: 10px;
    }

    .news_item h3,
    .news_item p {
        padding: 0 2rem;
    }

    .news_item_more_flex a {
        margin-top: 10px;
        margin-bottom: 2rem;
    }

    .call_btn button {
        margin-top: 20px;
    }

    .call_btn button+button {
        margin-left: 10px;
    }
}