.banner_bg {
    height: 600px;
}

.banner_bg:first-child {
    background: url("../pic/sakura_banner.png"), linear-gradient(to bottom, #92BBFC, #fff);
    background-position: right, top;
    background-repeat: no-repeat, no-repeat;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}


.banner .banner_change {
    position: absolute;
    top: 40%;
    padding: 0;
    box-sizing: border-box;
    width: 50px;
    height: 150px;
    background-color: transparent;
    border-radius: 2px;
    border: 0;
    cursor: pointer;
}

.banner_pre {
    left: 30px;
}

.banner_next {
    right: 30px;
}

.arrow {
    position: absolute;
    width: 100%;
    height: 8px;
    background-color: #fff;
    border-radius: 4px;
}

.left_arrow_up {
    top: 35%;
    transform: rotate(-60.5deg);
    box-shadow: 0px 1px #999,
        0px 2px #aaa;
}

.left_arrow_down {
    bottom: 35%;
    transform: rotate(60.5deg);
}

.right_arrow_up {
    top: 35%;
    transform: rotate(60.5deg);
    box-shadow: 0px 1px #999,
        0px 2px #aaa;
}

.right_arrow_down {
    bottom: 35%;
    transform: rotate(-60.5deg);
}

.banner .banner_change:hover {
    background-color: #d8d8d8;
    transition: 1s;
}

.banner_pre:hover {
    left: 35px;
}

.banner_next:hover {
    right: 35px;
}
