.news {
    line-height: 1.5;
}

.news_flex {
    flex-direction: column;
    align-items: center;
}

.news_flex>div:nth-child(1) {
    margin-top: 20px;

    @media (min-width:1200px) {
        margin-top: 40px;
    }
}

.news_tags {
    margin-top: 20px;
    margin-bottom: 20px;

    @media (min-width:1200px) {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

.news_tags .tags-button {
    font-size: 1.2rem;
    border-radius: 0;
    border: 0;
    background: transparent;
    cursor: pointer;

    @media (min-width:1024px) {
        font-size: 1.5rem;
    }
}

.news_card_list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.news_card_list>div:nth-child(1) {
    --card-gap: 5px;
    gap: var(--card-gap);
    ;

    @media (min-width:1024px) {
        --card-gap: 10px;
    }
}

.news_flex .news_card_list .news_card {
    text-decoration: none;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid #E0E0E2;
    padding: 0;

    flex: 0 0 calc(33.3% - var(--card-gap));
    height: 15rem;

    flex-direction: column;

    @media (min-width:768px) {
        height: 22rem;
    }

    @media (min-width:1024px) {
        height: 30rem;
    }
}

.news_card_img {
    padding: 0;
    margin: 0;
}

.news_card_img img {
    vertical-align: middle;
    width: 100%;
}

.news_card h3 {
    font-size: 16px;
    padding: 5px 10px 0;
    color: #000;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;

    @media (min-width:1200px) {
        font-size: 18px;
        padding: 10px 20px 0;
    }
}

.news_card span {
    padding: 5px 10px 0;
    color: #8D8D8D;

    @media (min-width:1200px) {
        padding: 10px 20px 0;
    }
}

.card_more {
    position: relative;
    color: #FF829F;
    margin-left: auto;
    margin-top: auto;
    bottom: 5px;
    padding: 5px 10px;

    @media (min-width:1200px) {
        bottom: 10px;
        padding: 10px 20px;
    }
}

.news_page {
    color: #000;
    margin: 40px 0px;
    text-decoration: none;
}

.news_page_flex {
    justify-content: flex-end;
}

.news_page:first-child {
    display: none;
}

.news_page:last-child {
    /* display: none; */
}

.news_page_num {
    margin: 40px 0px;
}