.script_top {
    margin-top: 20px;

    @media (min-width:1200px) {
        margin-top: 40px;
    }
}

.content_img {
    margin-top: 10px;

    @media (min-width:1200px) {
        margin-top: 20px;
    }
}

.content_img img {
    width: 100%;
    vertical-align: middle;
}

.content-main {
    margin-top: 10px;
}

.content-main li {
    list-style: disc;
    list-style-position: inside;
    padding: 5px 0;

    @media (min-width:1200px) {
        padding: 10px 0;
    }
}

.content-main span {
    padding: 5px 0;

    @media (min-width:1200px) {
        padding: 10px 0;
    }
}

.news_back {
    background-color: #FF829F;
    color: #fff;
    margin: 40px 0;

    @media (min-width:1200px) {
        margin: 100px 0;
    }
}

.news_back:hover {
    background-color: #10253F;
    color: #fff;
    transition: 1s;
}